<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : ' + sum}}</h1>
        <h1>{{ 'Rata-rata a : ' + avg}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let vm = new Vue ({
            el: "#app",
            data: {
                b : 0 ,
                c : 0 ,
                d : 0 ,
                e : 0 ,
            },
            methods : {
                openForm : function() {
                    this.b = prompt ("Masukkan nilai a"),
                    this.c = prompt ("Masukkan nilai a"),
                    this.d = prompt ("Masukkan nilai a"),
                    this.e = prompt ("Masukkan nilai a")
                    }
            },
            computed : {
                sum : function() {
                    return parseInt(this.b) + parseInt(this.c) + parseInt(this.d) +parseInt(this.e);
                },
                avg : function() {
                    let a = parseInt(this.b) + parseInt(this.c) + parseInt(this.d) +parseInt(this.e);
                    return a/4
                }
            }
        })
    </script>
</body>
</html>