.<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border: 1px solid white;
            padding: 5px;
            width:225px;
            background: rgb(179, 174, 174);
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="App">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors : </b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>
            <label>Title : </label>
            <input type="text" name="title" ref="title" v-model="title">
            <label>Description</label>
            <textarea name="description" ref="description" v-model="description"></textarea>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue ({
            el : "#App",
            data : {
                title : "",
                description :"",
                errors : [],
                blogs : []
            },
            methods : {
                submitForm : function () {
                    this.errors = []
                    
                    if (this.title.length < 5) {
                        this.errors.push("title minimal 5 karakter")
                        this.$refs.title.focus()

                    }
                    
                    if (this.description.length > 10) {
                        this.errors.push("deskripsi tidak boleh lebih dari 10 kata")
                        this.$refs.description.focus()
                    }

                    if (this.errors.length === 0 ) {
                        alert ("Terimakasih anda sudah mengisi data dengan benar")
                    }
                },
                getBlogs : function () {
                    const cofig = {
                        method :"get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }
                    
                    axios(config)
                    .then( (response) => {
                         console.log(response.data.blogs);
                    })
                    .catch ((error) => {
                        console.log(error);
                    }) 
                }
            },
                    created (){
                        this.getBlogs()
                    }
                })
    </script>
    
</body>
</html>