<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="App">
        <form>
            <input v-if="isEdit == 0" id='addInput' type="text" placeholder="Masukkan Nama Pengguna" v-model="name"/>
            <input v-else id="editInput" type="text" v-model="newName"/>
            <span>
                <button v-if="isEdit == 0" type="button" @click="addUser">Add</button>
                <button v-else @click="updateUser" type="button">Update</button>
            </span>
        </form>
        <ul v-for="x in usersData">
            <li>{{x.name}} 
                <span><button @click="editUser(x.name)">Edit</button></span>
                <span><button @click="deleteUser(x.name)">Delete</button></span>
            </li>
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue ({
            el : "#App",
            data : {
                name:"",
                newName:"",
                isEdit: 0,
                users: [
                {name : 'Muhammad Iqbal Mubarok'},
                {name : 'Ruby Purwanti'},
                {name : 'Faqih Muhammad'},
                ]
            },
            computed: {
                editMode: ()=>{
                    return this.isEdit
                },
                usersData: function() {
                    return this.users
                },
            },
            methods: {
                addUser: ()=>{
                    vm.users.push({name:vm.name})
                },
                editUser: (name)=>{
                    console.log(name);
                    vm.name = name
                    vm.newName = name
                    vm.isEdit = 1
                },
                updateUser: ()=>{
                    let i = vm.users.findIndex(v => v.name === vm.name);
                    vm.users[i].name = vm.newName
                    vm.isEdit = 0
                    vm.name = ""
                },
                deleteUser: (name)=>{
                    let i = vm.users.findIndex(v => v.name === name);
                    vm.users.splice(i, 1)
                    alert ("Yakin menghapus?")
                }
            }
        });
    </script>
</body>
</html>