<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="App">
        <form>
            <input type="text" v-model="cari" placeholder="Ketikkan Kata Kunci"/>
        </form>
        <ul v-for="x in filterbuku">
            <li>{{x.Book}}</li>
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue ({
            el : "#App",
            data : {
                cari : "",
                Books: [
                {Book : 'Kalkulus Dasar'},
                {Book : 'Fisika Dasar'},
                {Book : 'Aljabar Linier Elementer'},
                {Book : 'Aljabar Abstrak'},
                {Book : 'Alogaritma Pemorograman'},
                ]
            },
                computed: {
                    filterbuku: function() {
                        return this.Books.filter((x) => {
                            return x.Book.toLowerCase().match(this.cari.toLowerCase())
                        });
                    }
                }
        });
    </script>
</body>
</html>